form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  label {
    display: block;
    color: back;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px black;
  }
  
  button {
    background-color: #D61E22;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF6666;
  }
  