<div *ngIf="OTPSectionVisibilty" class="container">
    <h2>Forget Password</h2>
    <div class="form-group">
        <div class="sendOTP">
      <label for="email">Email:</label>
      <input matInput  type="email" id="email" [(ngModel)]="email" (input)="checkEmailValidity()">
      
      <button [disabled]="isNextDisabled" (click)="onNextClick()">Next</button>
    </div>
      
    </div>
    <div *ngIf="isOTPVisible" class="form-group">
      <label for="otp">OTP:</label>
      <input type="text" id="otp" [(ngModel)]="otp">
      <div class="otpBtn">
      <button (click)="onSubmit()">Submit</button>
    </div>
    </div>
  </div>


  <div *ngIf="!OTPSectionVisibilty"  class="container">
    <h2>New Password</h2>
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" id="password" [(ngModel)]="password" (input)="checkPasswordMatch()">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" (input)="checkPasswordMatch()">
    </div>
    <button [disabled]="!passwordsMatch" (click)="submit()" class="btn">Submit</button>
  </div>


  