<div class="signin-container">
    <h2>Sign In</h2>
    <form (ngSubmit)="signIn()" #signInForm="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email" #emailInput="ngModel">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">Email is required</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password" #passwordInput="ngModel">
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">Password is required</div>
      </div>
      <div class="routeBtns">
      <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
      <div>
        <button class="sbtn" (click)="signup()">
            Create Account
          </button>
          <button class="sbtn" (click)="forgotPassword()">
            Forgot Password
          </button>
      </div>
      
    </div>
    </form>
  </div>
  